<!-- create-project-head -->
<div class="create-project-head">
    <div class="create-project-head-focus">
        <div class="create-project-head-focus-main">
            <i class="ri-stack-fill"></i>
            <p>Create a new project</p>
        </div>
        <div class="create-project-head-focus-delete">
            <i class="fa-solid fa-xmark"></i>
        </div>
        
    </div>

    <div class="create-project-head-blur">
        <p>Fill out these few details to start a new project</p>
    </div>
    
</div>

<!-- create-project-head end -->

<!-- create-project-form-details -->
<div class="create-project-form-details">
    <form action="home/create-project" method="POST">
        <div class="create-project-form-details-title">
            <p>Title</p>
            <div class="create-project-form-details-title-input">
                <input type="text" name="title" placeholder="write a cool title..." required>
            </div>
        </div>
        <div class="create-project-form-details-color">
            <p>Title Color</p>
            <select name="titleColor" required>
                <option value="orange">Orange</option>
                <option value="lime">Lime</option>
                <option value="gold">Gold</option>
                <option value="purple">Purple</option>
            </select>
        </div>
        <div class="create-project-form-details-author">
            <p>Author</p>
            <input type="text" name="author" value="<%= locals.user.name %>">
        </div>
        <div class="create-project-form-details-describe">
            <p>Describe</p>
            <textarea cols="30" rows="8" name="description" required></textarea>
        </div>
        <div class="create-project-form-details-others">
            <div class="create-project-form-details-others-project-types">
                <p>Project Types</p>
                <select name="projectTypes" required>
                    <option value="Design">Design</option>
                    <option value="Frontend">Frontend</option>
                    <option value="Backend">Backend</option>
                    <option value="Testing">Testing</option>
                    <option value="Deployment">Deployment</option>
                    <option value="Others">Others</option>
                </select>
            </div>
            <div class="create-project-form-details-others-urgency">
                <p>Poject Priority</p>
                <select name="priority" required>
                    <option value="Low">Low</option>
                    <option value="Medium">Medium</option>
                    <option value="High">High</option>
                </select>
            </div>
        </div>
        <div class="submit-button">
            <button type="submit" value="submit"><p>Submit</p></button>
        </div>
    </form>
</div>
<!-- create-project-form-details end -->