<!-- create-filter-form-head -->
<div class="create-filter-form-head">
    <div class="create-filter-form-head-focus">
        <div class="create-filter-form-head-focus-main">
            <i class="fa-solid fa-flag"></i>
            <p>Filter Issues</p>
        </div>
        
        <div class="create-filter-form-head-focus-delete">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </div>
    <div class="create-filter-form-head-blur">
        <p>Select any of these to see issues</p>
    </div>
</div>
<!-- create-filter-form-head end -->
<!-- create-filter-form-labels -->
<div class="create-filter-form-labels">
    <div class="create-filter-form-labels-head">
        <p>Labels</p>
    </div>
    <div class="create-filter-form-labels-types">
        <!-- bugs -->
        <div class="create-filter-form-labels-types-bugs">
            <div class="create-filter-form-labels-types-bugs-check-box">
                <i class="fa-solid fa-check" id="bugs_check"></i>
            </div>
            <div class="create-filter-form-labels-types-bugs-name">
                <p>Bugs</p>
            </div>
        </div>
        <!-- bugs end -->
        <!-- UI DESIGN -->
        <div class="create-filter-form-labels-types-ui-design">
            <div class="create-filter-form-labels-types-ui-design-check-box">
                <i class="fa-solid fa-check" id="ui_check"></i>
            </div>
            <div class="create-filter-form-labels-types-ui-design-name">
                <p>Invalid</p>
            </div>
        </div>
        <!-- UI DESIGN end -->
        <!-- documentation -->
        <div class="create-filter-form-labels-types-documentation">
            <div class="create-filter-form-labels-types-documentation-check-box">
                <i class="fa-solid fa-check" id="doc_check"></i>
            </div>
            <div class="create-filter-form-labels-types-documentation-name">
                <p>Documentation</p>
            </div>
        </div>
        <!-- documentation end -->
        <!-- enhancement -->
        <div class="create-filter-form-labels-types-enhancement">
            <div class="create-filter-form-labels-types-enhancement-check-box">
                <i class="fa-solid fa-check" id="enhancement_check"></i>
            </div>
            <div class="create-filter-form-labels-types-enhancement-name">
                <p>Enhancement</p>
            </div>
        </div>
        <!-- enhancement end -->
        <!-- duplicate -->
        <div class="create-filter-form-labels-types-duplicate">
            <div class="create-filter-form-labels-types-duplicate-check-box">
                <i class="fa-solid fa-check" id="duplicate_check"></i>
            </div>
            <div class="create-filter-form-labels-types-duplicate-name">
                <p>Duplicate</p>
            </div>
        </div>
        <!-- duplicate end -->
    </div>
</div>
<!-- create-filter-form-labels end -->
<!-- create-filter-form-submit -->
<div class="create-filter-form-submit">
    <p>Search</p>
</div>
<!-- create-filter-form-submit end -->