<% if(locals.user){%>
    <header>
        <div class="wrapper">
            <div class="logo">
                <div class="logo__bug"><i class="ri-bug-fill"></i></div>
                <div class="logo__text">Bug Tracker</div>
            </div>
            <div class="user-name">
                <p><%= locals.user.name %></p>
            </div>
            <div class="signOut">
                <a href="sign-out"><button type="submit">Sign Out</button></a>
            </div>
        </div>
        
    </header>
<%}%>
