<header>
    <div class="wrapper">
        <div class="logo">
            <div class="logo__bug"><i class="ri-bug-fill"></i></div>
            <div class="logo__text">Bug Tracker</div>
        </div>
    </div>
</header>