<div class="home-page">
  <!-- home header -->
  <div class="home-header">

    <div class="project-search-bar">
      <input type="text" placeholder="Search projects here...">
      <i class="ri-search-line"></i>
    </div>

    <div class="create-project">
      <i class="ri-add-line"></i>
      <p>New Project</p>
    </div>
  </div>
  <!-- home header end -->

  <!-- show projects -->
  <div class="show-projects">
      <!-- projects -->
      <div class="project">
        <!-- project-name -->
        <div class="project-name">
          <i class="fa-solid fa-diagram-project"></i>
          <p>Social</p>
          <div class="project-more">
            <i class="ri-more-line"></i>
          </div>
          <!-- delete and update part -->
          <div class="delete-update">
            <div class="delete">
              <p>Delete</p>
            </div>
            <div class="update">
              <p>Update</p>
            </div>
            <div class="exit">
              <i class="fa-solid fa-circle-xmark"></i>
            </div>
          </div>
          <!-- dlete and update part end -->
        </div>
        <!-- project-name end -->
        <!-- project author -->
        <div class="project-author">
          <p>Austin Blake</p>
        </div>
        <!-- project author end -->
        <!-- project desciption -->
        <div class="project-desc">
          <p>This is a social media project like facebook where you can connect with new people</p>
        </div>
        <!-- project desciption end -->
        <!-- project others -->
        <div class="project-others">
          <div class="project-type">
            <p>Design</p>
          </div>

          <div class="project-urgency">
            <i class="fa-solid fa-angles-up"></i>
            <p>High</p>
          </div>
        </div>
        <!-- project others end -->
      </div>
      <!-- project end -->
  </div>
  <!-- show projects end -->
</div>

<div class="craete-project-form">
  <%- include('_createProject') -%>
</div>
<!-- Script -->
<script src="JS/home.js"></script>