
<!-- project-details-header -->
<div class="project-details-header">
    <div class="project-details-project-name">
        <div class="name">
            <p>Social</p>
        </div>
        <div class="due-date">
            <i class="ri-bubble-chart-fill"></i>
            <p>Due Date: 20th Jan 2023</p>
        </div>
    </div>

    <div class="search-issues">
        <div class="search-box">
            <i class="ri-search-line"></i>
            <input type="text" placeholder="Search issues..">
        </div>
        <div class="search-btn">
            <p>Search</p>
        </div>
    </div>

    <div class="filter-issues">
        <i class="ri-sound-module-fill"></i>
    </div>
</div>
<!-- project-details-header end -->

<!-- issue-type -->
<div class="issue-type">
    <!-- new-rq -->
    <div class="new-rq">
        <div class="new-rq-head">
            <p>New Request</p>
            <span>3</span>
            <div class="new-rq-add"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="new-rq-body">
            <!-- new body setup -->
            <div class="new-rq-body-post">
                <div class="style-bar-new-rq"></div>
                <div class="new-rq-body-details">
                    <div class="new-rq-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="new-rq-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="new-rq-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="new-rq-body-details-issue-others">
                        <div class="new-rq-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="new-rq-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="new-rq-body-post">
                <div class="style-bar-new-rq"></div>
                <div class="new-rq-body-details">
                    <div class="new-rq-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="new-rq-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="new-rq-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="new-rq-body-details-issue-others">
                        <div class="new-rq-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="new-rq-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="new-rq-body-post">
                <div class="style-bar-new-rq"></div>
                <div class="new-rq-body-details">
                    <div class="new-rq-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="new-rq-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="new-rq-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="new-rq-body-details-issue-others">
                        <div class="new-rq-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="new-rq-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

        </div>
    </div>
    <!-- new-rq end -->

    <!-- in-progress -->
    <div class="in-progress">
        <div class="in-progress-head">
            <p>In Progress</p>
            <span>3</span>
            <div class="in-progress-add"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="in-progress-body">
            <!-- new body setup -->
            <div class="in-progress-body-post">
                <div class="style-bar-in-progress"></div>
                <div class="in-progress-body-details">
                    <div class="in-progress-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="in-progress-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="in-progress-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="in-progress-body-details-issue-others">
                        <div class="in-progress-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="in-progress-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="in-progress-body-post">
                <div class="style-bar-in-progress"></div>
                <div class="in-progress-body-details">
                    <div class="in-progress-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="in-progress-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="in-progress-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="in-progress-body-details-issue-others">
                        <div class="in-progress-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="in-progress-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="in-progress-body-post">
                <div class="style-bar-in-progress"></div>
                <div class="in-progress-body-details">
                    <div class="in-progress-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="in-progress-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="in-progress-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="in-progress-body-details-issue-others">
                        <div class="in-progress-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="in-progress-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->
        </div>
    </div>
    <!-- in-progress end -->

    <!-- complete -->
    <div class="complete">
        <div class="complete-head">
            <p>Complete</p>
            <span>3</span>
            <div class="complete-add"><i class="fa-solid fa-plus"></i></div>
        </div>

        <div class="complete-body">
            <!-- new body setup -->
            <div class="complete-body-post">
                <div class="style-bar-complete"></div>
                <div class="complete-body-details">
                    <div class="complete-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="complete-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="complete-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="complete-body-details-issue-others">
                        <div class="complete-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="complete-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="complete-body-post">
                <div class="style-bar-complete"></div>
                <div class="complete-body-details">
                    <div class="complete-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="complete-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="complete-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="complete-body-details-issue-others">
                        <div class="complete-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="complete-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->

            <!-- new body setup -->
            <div class="complete-body-post">
                <div class="style-bar-complete"></div>
                <div class="complete-body-details">
                    <div class="complete-body-details-issue-type">
                        <p>UI DESIGN</p>
                    </div>
                    <div class="complete-body-details-issue-name">
                        <i class="ri-coupon-3-line"></i>
                        <p>Design the navbar</p>
                    </div>
                    <div class="complete-body-details-issue-description">
                        <p>Make a navbar design with home,profile,about,story with in it.</p>
                    </div>
                    <div class="complete-body-details-issue-others">
                        <div class="complete-body-details-issue-others-name">
                            <p>Natasha Barber</p>
                        </div>
                        <div class="complete-body-details-issue-others-urgency">
                            <i class="fa-solid fa-angles-up"></i>
                            <p>High</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- new body setup end -->
        </div>
    </div>
    <!-- complete end -->
</div>
<!-- issue-type end -->
<div class="create-filter-form">
    <%- include('_filter') -%>
</div>
<!-- script -->
<script src="JS/project.js"></script>