<div class="signInwrapper">
    <div class="signInPage">
        <div class="signInPageHead">
            <div class="signInPageHead-focus">
                <p>Welcome Back</p>
            </div>
            <div class="signInPageHead-blur">
                <p>Enter your credentials to access your account</p>
            </div>
        </div>
        <div class="signIn-details">
            <form action="/sign-in/create-session" method="POST">
                <div class="email">
                    <input type="email" name="email" placeholder="Email">
                </div>
        
                <div class="password">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <div class="signIn-submitBtn">
                    <button type="submit">Log in</button>
                </div>
            </form>
        </div>
    
        <div class="signUp-route">
            <p>Don't have an account?</p>
            <a href="/sign-up">Sign up for free</a>
        </div>
        
    </div>
</div>
