.wrapper{
    height: 3rem;
    width: 100%;
    background: #ffffff;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 4px 0px, rgba(90, 125, 188, 0.05) 0px 4px 16px 0px;
    position: fixed;
    z-index: 100;
}

.logo{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.logo__bug{
    margin-top: 5px;
}

.logo__bug i{
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: larger;
    color: #ff6600; 
}

.logo__text{
    font-size: larger;
    font-weight: bold;
    color:  #00001a;
    letter-spacing: 1.2px;
    word-spacing: 3px;
}

/* responsiveness */
@media screen and (max-width: 550px){
    .logo__text{
        font-size: medium;
        font-weight: bold;
        color:  #00001a;
        letter-spacing: 1.2px;
        word-spacing: 3px;
    }
}
/* responsiveness end */

