.wrapper{
    height: 3rem;
    width: 100%;
    background: #ffffff;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 4px 0px, rgba(90, 125, 188, 0.05) 0px 4px 16px 0px;
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 100;
}

.logo{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction:row;
    align-items: center;
}

.logo__bug{
    margin-top: 5px;
}

.logo__bug i{
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: larger;
    color: #ff6600; 
}

.logo__text{
    font-size: larger;
    font-weight: bold;
    color:  #00001a;
    letter-spacing: 1.2px;
    word-spacing: 3px;
}
.logo__text a{
    color:  #00001a;
}
.user-name{
    margin-top: 0.5rem;
    height: 2rem;
    cursor:default;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 40%;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.user-name:hover{
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.user-name p{
    padding-left: 15px;
    padding-right: 15px;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
}

.signOut{
    margin-left: 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: 6rem;
    background: #00001a;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.signOut:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.signOut button{
    height: 100%;
    width: 100%;
    color: #ffffff;
    font-size: small;
    font-weight: 500;
    background: transparent;
    letter-spacing: 1px;
    cursor: pointer;
    border: none;
    outline: none;
}

/* responsiveness */
@media screen and (max-width: 550px){
    .logo__text{
        font-size: medium;
        font-weight: bold;
        color:  #00001a;
        letter-spacing: 1.2px;
        word-spacing: 3px;
    }
}

@media screen and (max-width: 900px){
    .user-name{
        margin-left: 28%;
    }
}

@media screen and (max-width: 600px){
    .user-name{
        margin-left: 20%;
    }
}

@media screen and (max-width: 550px){
    .user-name{
        margin-left: 15%;
    }
}
/* responsiveness end */

