.project-details-header{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* display: none; */
    border-bottom: 1px solid lightgray;
}

/* project-name */
.project-details-project-name{
    margin-left: 20%;
    margin-right: 15%;
    height: 5rem;
    width: 11rem;
    display: flex;
    flex-direction: column;
}

.project-details-project-name .name{
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-details-project-name .name::before{
    content: ' ';
    height: 1.2rem;
    width: 0.5rem;
    background: #ff6600;
}

.project-details-project-name .name p{
    margin: 0.5rem;
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00001a;
}

.author{
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    height: 2rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    opacity: 0.8;
    background: #ffe6e6;
}

.author i{
    margin-left: 1rem;
    margin-right: 0.5rem;
    color: #990000;
}

.author p{
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #990000;
}
/* project-name end */

/* search-issues */
.search-issues{
    margin-right: 2%;
    width: 30%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.search-issues .search-box{
    height: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #fffcfc;
    opacity: 0.8;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    margin-right: 0.5rem;
}

.search-issues .search-box i{
    margin-left: 5px;
    font-size: medium;
    color: #00001a;
}

.search-issues .search-box input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    padding-left: 10px;
    color: #00001a;
    font-size: smaller;
    font-weight: bold;
    letter-spacing: 1px;

}

.search-btn{
    height: 1.5rem;
    width: 6rem;
    display: flex;
    align-items: center;
    text-align: center;
    background:  #6600ff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.search-btn p{
    margin-left: 0.8rem;
    color: #ffff;
    font-size: small;
    letter-spacing: 1px;
    font-weight: bold;
}

/* search-issues end */

/* ilter-issues */
.filter-issues{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    background: #fffcfc;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.filter-issues i{
    margin-left: 0.4rem;
    font-size: larger;
    color:rgb(10, 89, 81);
}
/* ilter-issues end */

/* issue-type */
.issue-type{
    margin-top: 0.5rem;
    margin-left: 10%;
    width: 80%;
    height: 85%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* display: none; */
    overflow: scroll;
    justify-content: space-evenly;
}

.issue-type::-webkit-scrollbar{
    width: 3px;
    cursor: pointer;
}

.issue-type:hover::-webkit-scrollbar-thumb{
    background: gainsboro;
    cursor: pointer; 
}

/* new req */
.issue-type .new-rq{
    width: 20rem;
    height: 100%;
}

.issue-type .new-rq .new-rq-head{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
    color: #00001a;
}



.issue-type .new-rq .new-rq-head p{
    margin-left: 0.5rem;
    font-size: medium;
    font-weight: bold;
    margin-right: 0.2rem;
    letter-spacing: 1px;
}

.issue-type .new-rq .new-rq-head span{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: #e6e6e6;
    opacity: 0.8;
    padding-top: 4px;
    font-size: small;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.issue-type .new-rq .new-rq-head .new-rq-add{
    margin-left: 8rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
    border-radius: 2px;
    font-size: medium;
    cursor: pointer;
    border: 2px solid #00001a;
}
.issue-type .new-rq .new-rq-head .new-rq-add i{
    padding-top: 2px;
    color: #00001a;
}
.issue-type .new-rq .new-rq-head::before{
    content: ' ';
    height: 1rem;
    width: 0.5rem;
    background: crimson;
}

.issue-type .new-rq .new-rq-body{
    margin-top: 0.5rem;
    height: 90%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.new-rq-body::-webkit-scrollbar{
    width: 2px;
}

.new-rq-body:hover::-webkit-scrollbar-thumb{
    background: gray;
}


.issue-type .new-rq .new-rq-body .new-rq-body-post{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 92%;
    background: #fffcfc;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    flex-direction: row;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.issue-type .new-rq .new-rq-body .new-rq-body-post:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.issue-type .new-rq .new-rq-body .style-bar-new-rq{
    height: 100%;
    border-radius: 5px;
    width: 0.5rem;
    background: crimson;
    opacity: 0.8;
}

.new-rq-body-details{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    font-size: small;
    display: flex;
    flex-direction: column;
}

.new-rq-body-details-head{
    display: flex;
    flex-direction: row;
}
.new-rq-body-details-issue-delete{
    height: 1rem;
    width: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    display: none;
    
    font-size: medium;
    margin-left: 5rem;
}

.new-rq-body-details-issue-delete a{
    text-decoration: none;
    color: #00001a;
}
.new-rq-body-details:hover .new-rq-body-details-issue-delete{
    display: block;
}

.bugs{
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 4rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: smaller;
    background:#cc0052;
    color:#ffe6f0;
    margin-right: 6rem;
    font-weight: 600;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.invalid{
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 5rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: smaller;
    background: #ff8000;
    color:#fff2e6;
    font-weight: 600;
    margin-right: 5rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.documentation{
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: smaller;
    background:#cccc00;
    color:#ffffe6;
    font-weight: 600;
    margin-right: 2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.enhancement{
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 8rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: smaller;
    background:#990099;
    color:#ffe6ff;
    font-weight: 600;
    margin-right: 2rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.duplicate{
    margin-top: 0.5rem;
    height: 1.5rem;
    width: 6rem;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: smaller;
    background:#009900;
    color:#e6ffe6;
    font-weight: 600;
    margin-right: 4rem;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.new-rq-body-details .new-rq-body-details-issue-name{
    margin-top: 0.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: bold;
    color: #00001a;
    font-size: medium;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
}
.new-rq-body-details .new-rq-body-details-issue-name i{
    margin-right: 5px;
}

.new-rq-body-details .new-rq-body-details-issue-description{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    height: 3.5rem;
    width: 90%;
    letter-spacing: 1px;
    font-weight: 500;
}


.new-rq-body-details .new-rq-body-details-issue-others{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    align-items: center;
}
.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-name{
    height: 1.5rem;
    width: 8rem;
    margin-right: 4rem;
    border-radius: 5px;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    background:#f2f2f2;
    color: #00001a;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-High{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color: crimson;
    opacity: 0.8;
}
.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-High i{
    margin-right: 0.2rem;
}

.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-Low{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:#1aff66;
    opacity: 0.8;
}
.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-Low i{
    margin-right: 0.2rem;
}



.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-Medium{
    height: 100%;
    display: flex;
    margin-left: -1rem;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:orange;
    opacity: 0.8;
}
.new-rq-body-details .new-rq-body-details-issue-others .new-rq-body-details-issue-others-urgency-Medium i{
    margin-right: 0.2rem;
}
.move-to-inprocess{
    margin-left: 0.5rem;
    height: 1rem;
    font-size: large;
    opacity: 0.8;
    display: none;
    
}

.move-to-inprocess a{
    color:#663300;
}

.new-rq-body-details:hover .move-to-inprocess{
    display: flex;
}
/* new req end */

/* in-progress */
.issue-type .in-progress{
    width: 20rem;
    height: 100%;
}

.issue-type .in-progress .in-progress-head{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
    color: #00001a;
}

.issue-type .in-progress .in-progress-head p{
    margin-left: 0.5rem;
    font-size: medium;
    font-weight: bold;
    margin-right: 0.2rem;
    letter-spacing: 1px;
}

.issue-type .in-progress .in-progress-head span{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: #e6e6e6;
    opacity: 0.8;
    padding-top: 4px;
    font-size: small;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.issue-type .in-progress .in-progress-head .in-progress-add{
    margin-left: 8rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
    border-radius: 2px;
    font-size: medium;
    cursor: pointer;
    border: 2px solid #00001a;
}

.issue-type .in-progress .in-progress-head .in-progress-add i{
    padding-top: 2px;
    color: #00001a;
}

.issue-type .in-progress .in-progress-head::before{
    content: ' ';
    height: 1rem;
    width: 0.5rem;
    background: orange;
}



.issue-type .in-progress .in-progress-body{
    margin-top: 0.5rem;
    height: 90%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}

.in-progress-body::-webkit-scrollbar{
    width: 2px;
}

.in-progress-body:hover::-webkit-scrollbar-thumb{
    background: gray;
}
.issue-type .in-progress .in-progress-body .in-progress-body-post{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 92%;
    background: #fffcfc;
    border-radius: 5px;
    display: flex;
    transition: all ease-in-out 0.5s;
    flex-direction: row;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.issue-type .in-progress .in-progress-body .in-progress-body-post:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.style-bar-in-progress{
    height: 100%;
    border-radius: 5px;
    width: 0.5rem;
    background: orange;
    opacity: 0.8;
}

.in-progress-body-details{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    font-size: small;
    display: flex;
    flex-direction: column;
}

.in-progress-body-head{
    display: flex;
    flex-direction: row;
}
.in-progress-body-details-issue-delete{
    height: 1rem;
    width: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    display: none;
    
    font-size: medium;
    margin-left: 5rem;
}

.in-progress-body-details-issue-delete a{
    text-decoration: none;
    color: #00001a;
}
.in-progress-body-details:hover .in-progress-body-details-issue-delete{
    display: block;
}



.in-progress-body-details .in-progress-body-details-issue-name{
    margin-top: 0.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: bold;
    color: #00001a;
    font-size: medium;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
}
.in-progress-body-details .in-progress-body-details-issue-name i{
    margin-right: 5px;
}
.in-progress-body-details .in-progress-body-details-issue-description{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    height: 3rem;
    width: 90%;
    letter-spacing: 1px;
    font-weight: 500;
}

.in-progress-body-details .in-progress-body-details-issue-others{
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    align-items: center;
}
.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-name{
    height: 1.5rem;
    width: 8rem;
    margin-right: 4rem;
    border-radius: 5px;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    background:#f2f2f2;
    color: #00001a;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-High{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color: crimson;
    opacity: 0.8;
}
.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-High i{
    margin-right: 0.2rem;
}

.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-Low{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:#1aff66;
    opacity: 0.8;
}
.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-Low i{
    margin-right: 0.2rem;
}



.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-Medium{
    height: 100%;
    display: flex;
    margin-left: -1rem;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:orange;
    opacity: 0.8;
}
.in-progress-body-details .in-progress-body-details-issue-others .in-progress-body-details-issue-others-urgency-Medium i{
    margin-right: 0.2rem;
}

.move-to-complete{
    margin-left: 0.5rem;
    height: 1rem;
    font-size: large;
    opacity: 0.8;
    display: none;
    
}

.move-to-complete a{
    color:#663300;
}

.in-progress-body-details:hover .move-to-complete{
    display: flex;
}
/* in-progress end */

/* complete */
.issue-type .complete{
    width: 20rem;
    height: 100%;
}

.issue-type .complete .complete-head{
    height: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 0.8;
    color: #00001a;
}

.issue-type .complete .complete-head p{
    margin-left: 0.5rem;
    font-size: medium;
    font-weight: bold;
    margin-right: 0.2rem;
    letter-spacing: 1px;
}

.issue-type .complete .complete-head span{
    height: 1.5rem;
    width: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    background: #e6e6e6;
    opacity: 0.8;
    padding-top: 4px;
    font-size: small;
    font-weight: 600;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.issue-type .complete .complete-head .complete-add{
    margin-left: 8rem;
    height: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1.5rem;
    border-radius: 2px;
    font-size: medium;
    cursor: pointer;
    border: 2px solid #00001a;
}

.issue-type .complete .complete-head .complete-add i{
    padding-top: 2px;
    color: #00001a;
}

.issue-type .complete .complete-head::before{
    content: ' ';
    height: 1rem;
    width: 0.5rem;
    background: lightgreen;
}

.issue-type .complete .complete-body{
    margin-top: 0.5rem;
    height: 90%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
}
.complete-body::-webkit-scrollbar{
    width: 2px;
}

.complete-body:hover::-webkit-scrollbar-thumb{
    background: gray;
}
.complete-body-post{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    height: 10rem;
    width: 92%;
    background: #fffcfc;
    border-radius: 5px;
    display: flex;
    transition: all ease-in-out 0.5s;
    flex-direction: row;
    cursor: pointer;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.issue-type .complete .complete-body .complete-body-post:hover{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.issue-type .complete .complete-body .style-bar-complete{
    height: 100%;
    border-radius: 5px;
    width: 0.5rem;
    background: lightgreen;
    opacity: 0.8;
}

.complete-body-details{
    height: 90%;
    width: 90%;
    margin-left: 5%;
    font-size: small;
    display: flex;
    flex-direction: column;
}
.complete-body-head{
    display: flex;
    flex-direction: row;
}
.complete-body-details-issue-delete{
    height: 1rem;
    width: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.8rem;
    display: none;
    font-size: medium;
    margin-left: 5rem;
}

.complete-body-details-issue-delete a{
    text-decoration: none;
    color: #00001a;
}
.complete-body-details:hover .complete-body-details-issue-delete{
    display: block;
}

.complete-body-details .complete-body-details-issue-name{
    margin-top: 0.5rem;
    height: 1.5rem;
    display: flex;
    font-weight: bold;
    color: #00001a;
    font-size: medium;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    width: 100%;
}
.complete-body-details .complete-body-details-issue-name i{
    margin-right: 5px;
}
.complete-body-details .complete-body-details-issue-description{
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    height: 3rem;
    width: 90%;
    letter-spacing: 1px;
    font-weight: 500;
}

.complete-body-details .complete-body-details-issue-others{
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: 100%;
    align-items: center;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-name{
    height: 1.5rem;
    width: 8rem;
    margin-right: 5rem;
    border-radius: 5px;
    display: flex;
    letter-spacing: 1px;
    align-items: center;
    font-weight: 500;
    justify-content: center;
    background:#f2f2f2;
    color: #00001a;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color: crimson;
    opacity: 0.8;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-High{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color: crimson;
    opacity: 0.8;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-High i{
    margin-right: 0.2rem;
}

.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-Low{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:#1aff66;
    opacity: 0.8;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-Low i{
    margin-right: 0.2rem;
}



.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-Medium{
    height: 100%;
    display: flex;
    margin-left: -1rem;
    flex-direction: row;
    align-items: center;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: smaller;
    color:orange;
    opacity: 0.8;
}
.complete-body-details .complete-body-details-issue-others .complete-body-details-issue-others-urgency-Medium i{
    margin-right: 0.2rem;
}
/* complete end */
/* issue-type end */

/* responsiveness */
@media screen and (max-width: 930px) {
    .project-details-project-name{
        margin-left: 15%;
        margin-right: 8%;
    }
    .project-details-project-name .name::before{
        content: ' ';
        height: 1rem;
        width: 0.5rem;
    }
    .project-details-project-name .name p{
        font-size: large;
        font-weight: bold;
    }

    .due-date{
        height: 1.5rem;
    }
    
    .due-date p{
        font-size: smaller;
    }
}

@media screen and (max-width: 780px){
    .project-details-project-name{
        margin-left: 10%;
        margin-right: 5%;
    }

    .search-issues{
        margin-right: 2%;
        width: 40%;
    }

    .filter-issues{
        width: 1.5rem;
        height: 1.5rem;
        justify-content: center;
    }
    .filter-issues i{
        margin-left: 0px;
        font-size: large;
    }
}

@media screen and (max-width: 700px){
    .project-details-project-name{
        margin-left: 5%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 600px){
    .search-issues .search-box input{
        font-size: 0.7rem;
    }
    .project-details-project-name{
        margin-right: 6%;
    }
}

/* create-filter-form */
.create-filter-form{
    height: 18.5rem;
    width: 18rem;
    position: absolute;
    top: 21%;
    left: 70%;
    border-radius: 5px;
    display: none;
    background: #e6ffe6;
    transform: scale3d(1.2 , 1.2 , 1.2);
    animation: animate-fitler-form 300ms ease-in-out forwards;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}




@keyframes animate-fitler-form {
    50%{
        transform: scale3d(1.1 , 1.1 , 1.1);
    }
    100%{
        transform: scale3d(1 , 1 , 1);
    }
} 
.create-filter-form:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.create-filter-form-head{
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    opacity: 0.8;
    border-bottom: 1.5px solid lightgray;
}
.create-filter-form-head .create-filter-form-head-focus{
    display: flex;
    flex-direction: row;
}
.create-filter-form-head-focus .create-filter-form-head-focus-main{
    display: flex;
    flex-direction: row;
    width: 90%;
}
.create-filter-form-head-focus .create-filter-form-head-focus-main i{
    margin-left: 1rem;
    margin-right: 0.5rem;
    font-size: large;
    color: #004d00;
}
.create-filter-form-head-focus .create-filter-form-head-focus-main p{
    font-size: large;
    font-weight: bold;
    letter-spacing: 1px;
    color: #00001a;
}
.create-filter-form-head-focus .create-filter-form-head-focus-delete{
    font-size: larger;
    color: #00001a;
    cursor: pointer;
}

.create-filter-form-head .create-filter-form-head-blur{
    margin-top: 0.2rem;
    margin-left: 1rem;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    color: gray;
}

.create-filter-form-labels{
    margin-top: 0.5rem;
    height: 12rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-filter-form-labels .create-filter-form-labels-head{
    margin-left: 1rem;
    font-size: medium;
    height: 2rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #003300;
    color: #ffff;
    font-weight: bold;
    border-radius: 5px;
}
.create-filter-form-labels-types{
    margin-left: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
}
/* bugs */
.create-filter-form-labels-types .create-filter-form-labels-types-bugs{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8rem;
    width: 100%;
}
.create-filter-form-labels-types-bugs .create-filter-form-labels-types-bugs-check-box{
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #008000; */
    cursor: pointer;
    margin-right: 0.5rem;
    border: 1.5px solid #00001a;
}
.create-filter-form-labels-types-bugs .create-filter-form-labels-types-bugs-check-box i{
    font-size: small;
    color: #ffff;
    display: none;
}
.create-filter-form-labels-types-bugs .create-filter-form-labels-types-bugs-name{
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00001a;
}
/* bugs end */
/* ui-design */
.create-filter-form-labels-types .create-filter-form-labels-types-ui-design{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8rem;
    width: 100%;
}
.create-filter-form-labels-types-ui-design .create-filter-form-labels-types-ui-design-check-box{
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #008000; */
    cursor: pointer;
    margin-right: 0.5rem;
    border: 1.5px solid #00001a;
}
.create-filter-form-labels-types-ui-design .create-filter-form-labels-types-ui-design-check-box i{
    font-size: small;
    color: #ffff;
    display: none;
}
.create-filter-form-labels-types-ui-design .create-filter-form-labels-types-ui-design-name{
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00001a;
}
/* ui-design end*/
/* documentation */
.create-filter-form-labels-types .create-filter-form-labels-types-documentation{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8rem;
    width: 100%;
}
.create-filter-form-labels-types-documentation .create-filter-form-labels-types-documentation-check-box{
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #008000; */
    cursor: pointer;
    margin-right: 0.5rem;
    border: 1.5px solid #00001a;
}
.create-filter-form-labels-types-documentation .create-filter-form-labels-types-documentation-check-box i{
    font-size: small;
    color: #ffff;
    display: none;
}
.create-filter-form-labels-types-documentation .create-filter-form-labels-types-documentation-name{
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00001a;
}
/* documentation end */
/* enhancement */
.create-filter-form-labels-types .create-filter-form-labels-types-enhancement{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8rem;
    width: 100%;
}
.create-filter-form-labels-types-enhancement .create-filter-form-labels-types-enhancement-check-box{
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #008000; */
    cursor: pointer;
    margin-right: 0.5rem;
    border: 1.5px solid #00001a;
}
.create-filter-form-labels-types-enhancement .create-filter-form-labels-types-enhancement-check-box i{
    font-size: small;
    color: #ffff;
    display: none;
}
.create-filter-form-labels-types-enhancement .create-filter-form-labels-types-enhancement-name{
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00001a;
}
/* enhancement */
/* duplicate */
.create-filter-form-labels-types .create-filter-form-labels-types-duplicate{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 1.8rem;
    width: 100%;
}
.create-filter-form-labels-types-duplicate .create-filter-form-labels-types-duplicate-check-box{
    height: 1.2rem;
    width: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* background: #008000; */
    cursor: pointer;
    margin-right: 0.5rem;
    border: 1.5px solid #00001a;
}
.create-filter-form-labels-types-duplicate .create-filter-form-labels-types-duplicate-check-box i{
    font-size: small;
    color: #ffff;
    display: none;
}
.create-filter-form-labels-types-duplicate .create-filter-form-labels-types-duplicate-name{
    font-size: medium;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00001a;
}
/* duplicate end */


/* create-filter-form-submit */
.create-filter-form-submit{
    margin-top: 0.5rem;
    height: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    background: #b3ffb3;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
}
.create-filter-form-submit:hover{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.create-filter-form-submit p{
    font-size: large;
    font-weight: bold;
    color: #003300;
}
/* create-filter-form-submit end */
/* create-filter-form end */

/* create-project-issue-form */
.create-project-issue-form{
    height: 30rem;
    width: 25rem;
    position: absolute;
    top: 1rem;
    left: 35%;
    display: none;
    border-radius: 5px;
    transform: translateX(200px);
    animation: animate-form 200ms ease-in forwards;
    background:#fafffa;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



@keyframes animate-form {
    0%{
        transform: translateX(150px);
    }
    25%{
        transform: translateX(100px);
    }
    50%{
        transform: translateX(50px);
    }
    75%{
        transform: translateX(25px);
    }
    100%{
        transform: translateX(0px);
    }
}

.create-project-issue-form:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.create-project-issue-head{
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.create-project-issue-head-focus{
    display: flex;
    flex-direction: row;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    margin-left: 1.5rem;
    color: #00001a;
    letter-spacing: 1px;
}

.create-project-issue-head-focus-main{
    width: 90%;
    display: flex;
    flex-direction: row;
}

.create-project-issue-head-focus .create-project-issue-head-focus-main i{
    margin-left: 0.5rem;
    margin-right: 0.2rem;
    font-size: larger;
    cursor: pointer;
}

.create-project-issue-head-focus .create-project-issue-head-focus-delete i{
    font-size: larger;
    color: #00001a;
    cursor: pointer;
}

.create-project-issue-head-blur{
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: small;
    color: gray;
    opacity: 0.8;
    letter-spacing: 1px;
    font-weight: 600;
}

.create-project-issue-form-details{
    height: 23rem;
    margin-left: 10%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-project-issue-form-details-types{
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-project-issue-form-details-types p{
    font-size: small;
    margin-left: 1rem;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
}

.create-project-issue-form-details-types select{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 1.8rem;
    display: flex;
    opacity: 0.8;
    align-items: center;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #00001a;
    border: none;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;
    transition: all ease-in-out 0.5s;
    outline: none;
    background: transparent;
    font-size: smaller;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    z-index: 100;
}

.create-project-issue-form-details-types select:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.create-project-issue-form-details-title{
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-project-issue-form-details-title p{
    font-size: small;
    margin-left: 1rem;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
}
.create-project-issue-form-details-title-input{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    z-index: 100;
}
.create-project-issue-form-details-title-input input{
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    color: #00001a;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;
    border-color: transparent;
    transition: all ease-in-out 0.5s;
    outline: none;
    background: transparent;
    font-size: smaller;
}

.create-project-issue-form-details-title-input:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.create-project-issue-form-details-author{
    height: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-project-issue-form-details-author p{
    font-size: small;
    margin-left: 1rem;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
}

.create-project-issue-form-details-author input{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #00001a;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    transition: all ease-in-out 0.5s;
    outline: none;
    background: transparent;
    font-size: smaller;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    z-index: 100;
}

.create-project-issue-form-details-author input:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.create-project-issue-form-details-describe{
    height: 6rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create-project-issue-form-details-describe p{
    font-size: small;
    margin-left: 1rem;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
}

.create-project-issue-form-details-describe textarea{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 3.5rem;
    display: flex;
    letter-spacing: 1px;
    color: #00001a;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    transition: all ease-in-out 0.5s;
    outline: none;
    padding-top: 10px;
    background: transparent;
    font-size: small;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    z-index: 100;
}
.create-project-issue-form-details-describe textarea:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.create-project-issue-form-details-urgency{
    height: 3rem;
    width: 100%;
    z-index: 100;
}
.create-project-issue-form-details-urgency p{
    font-size: small;
    font-weight: bold;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-left: 1rem;
}
.create-project-issue-form-details-urgency select{
    margin-left: 1rem;
    margin-top: 0.5rem;
    width: 80%;
    height: 1.8rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #00001a;
    font-weight: 600;
    cursor: pointer;
    padding-left: 10px;
    border-radius: 5px;
    border: none;
    opacity: 0.8;
    transition: all ease-in-out 0.5s;
    outline: none;
    background: transparent;
    font-size: smaller;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
    z-index: 100;
}
.create-project-issue-form-details-urgency select:hover{
    box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
}

.project-issue-submit-button{
    height: 2rem;
    width: 5rem;
    margin-top: 0.5rem;
    margin-left: 35%;
}

.project-issue-submit-button p{
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ffff;
}
.project-issue-submit-button button{
    height: 100%;
    width: 100%;
    background:#00b359;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.project-issue-submit-button button:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
/* create-project-issue-form end */

/* responsive */
@media screen and (max-width: 800px){
    .create-project-issue-form{
        left: 28%;
    }
}
@media screen and (max-width: 650px){
    .create-project-issue-form{
        left: 20%;
    }
}
@media screen and (max-width: 600px){
    .create-project-issue-form{
        left: 15%;
    }
    
}

@media screen and (max-width: 500px){
    .create-project-issue-form{
        left: 8%;
    }
}


@media screen and (max-width: 900px){
    .create-filter-form{
        left: 50%;
    }
}
@media screen and (max-width: 700px){
    .create-filter-form{
        left: 20%;
    }
} 

