.signInwrapper{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInPage{
    height: 25rem;
    display: flex;
    flex-direction: column;
    width: 25rem;
    cursor: pointer;
    border-radius: 10px;
    background:  #f2f2f2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.signInPage:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.signInPageHead{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    height: 5rem;
    width: 100%;
}



.signInPageHead .signInPageHead-focus{
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
}

.signInPageHead .signInPageHead-blur{
    margin-top: 0.5rem;
    font-size: small;
    letter-spacing: 1px;
    color: gray;
}
.signInPageHead .signInPageHead-blur p{
    margin-left: 0.5rem;
}

.signIn-details{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    height: 10rem;
    width: 100%;
    /* border: 1px solid black; */
}

.signIn-details .email{
    margin-left: 15%;
    width: 70%;
    height: 2rem;
    opacity: 0.8;
    border-bottom: 1px solid lightgray;
}

.signIn-details .email input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 5px;
}

.signIn-details .password{
    margin-top: 1rem;
    margin-left: 15%;
    width: 70%;
    height: 2rem;
    opacity: 0.8;
    border-bottom: 1px solid lightgray;
}

.signIn-details .password input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: small;
    font-weight: bold;
    letter-spacing: 1px;
    padding-left: 5px;
}

.signIn-details .signIn-submitBtn{
    margin-top: 2.5rem;
    margin-left: 20%;
    width: 60%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    background: #000000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

.signIn-details .signIn-submitBtn button{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    color: #fffcfc;
}

.signUp-route{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    margin-left: 21%;
}

.signUp-route p{
    font-size: small;
    opacity: 0.8;
    margin-right: 0.2rem;
}

.signUp-route a{
    font-size: small;
    color: #000000;
    font-weight: bold;
    margin-right: 0.2rem;
}
